In [6]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame(index = [2,5,1], columns = ['a','b','c','d'],data=np.arange(12).reshape(3,-1))

In [24]:
rows = [2,1, 100]
columns = ['b','a', 'c']

In [32]:
def lookup(df,rows,columns):
    assert isinstance(df,pd.DataFrame)
    col_index = df.columns.get_indexer(columns)
    row_index = df.index.get_indexer(rows)
    out =  df.values[row_index,col_index]
    mask = (row_index==-1) | (col_index==-1)
    if np.sum(mask)>0: # has incorrect indices
        out = out.astype(np.float64)
        out[mask] =np.nan
    return out

array([1, 8])

In [19]:
df

   a  b   c   d
2  0  1   2   3
5  4  5   6   7
1  8  9  10  11